{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- style css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- responsive-->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <title>Document</title>
</head>

<body>

    <div class="loader_bg">
        <div class="loader"><img src="{% static 'images/loading.gif' %}" alt="" /></div>
    </div>


    {% csrf_token %}

    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a>Hello,{{user.first_name}}</a>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'contact' %}">Contact</a>
        <a class="active" href="{% url 'register' %}">Register</a>
    </div>

    <header>
        <!-- header inner -->
        <div class="head-top">
            <div class="container-fluid">
                <div class="row d_flex">
                    <div class="col-sm-3">
                        <div class="logo">
                            <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" /></a>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <ul class="email text_align_right">
                            <li><a href="Javascript:void(0)"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                            <li><a href="Javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                            <li> <button class="openbtn" onclick="openNav()"><img
                                        src="{% static 'images/menu_btn.png' %}"></button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header><br><br><br><br>
    <!-- end header -->

    <!-- form -->
    <form action="{% url 'register' %}" method="post">

        {% csrf_token %}


        <input type="text" required name="first_name" placeholder="First Name"><br><br>
        <input type="text" required name="last_name" placeholder="Last Name"><br><br>
        <input type="text" required name="username" placeholder="UserName"><br><br>
        <input type="email" name="email" placeholder="Email"><br><br>
        <input type="password" required name="password1" placeholder="password"><br><br>
        <input type="password" required name="password2" placeholder="Confirm password"><br><br>
        <button type="submit">submit</button>
    </form>
    <!-- end form -->

    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>

    <!-- Javascript files-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>


</body>

</html>